/*Mørk: #F8B502*/
/*Lys: #F8D454*/

@font-face {
    font-family: 'QuireSans';
    src: url(QuireSans.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: QuireSans;

}

/*-- --- - -- LOGO -- - --- --*/
.logo {
    display: block;
    width: 642px;
    margin: 0 auto;
}

/*-- --- - -- NAVBAR -- - --- --*/
nav {
    display: flex;
    justify-content: space-between;
    margin-inline: 10vw;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    overflow: hidden;
    top: 0;
    background-color: white;
    padding: 5px;
}

nav a {
    color: black;
    width: 156px;
    text-align: center;
    text-decoration: none;
    padding-block: 11px;
    border-top: 1px solid #F8B502;
    border-bottom: 1px solid #F8B502; 
    font-size: 18px;
}

nav a:hover {
    color: #F8B502;
}

.selected-nav {
    font-weight: bold;
    color: #F8B502;
}

/*-- --- - -- MAIN -- - --- --*/

main {
    margin-inline: 10vw;
}

p {
    line-height: 1.75;
}

/*-- --- - -- OM OSS -- - --- --*/

.om-oss > p, li {
    font-size: 15px;
}

h3 {
    margin-block: 40px 20px;
    font-size: 20px;
    background-color: #F8D454;
    padding: 20px 21px;
}

.flex-hjem {
    display: flex;
    justify-content: space-between;

}

.flex-hjem div ul li {
    list-style: none;
}

.inline {
    padding-left: 21px;
}

.home-ikon {
    margin: 40px 0;
}

.flex-bærekraft {
    display: flex;
    gap: 10px;
}

.img-bærekraft {
    width: 200px;
}

li {
    margin-block: 10px 0;
}

/* 767px (Less than TABLET) */
@media only screen and (max-width: 767px) {
    .logo {
        width: 100%;
    }

    nav {
        flex-direction: column;
        width: 100%;
        margin: 0;
        position: relative;
    }

    nav a {
        width: 100%;
        border: none;
        border-bottom: 1px solid #F8B502;
    }

    nav a:nth-child(1) {
        border-top: 1px solid #F8B502;
    }

    .flex-hjem {
        flex-direction: column-reverse;
    }

    .spleis {
        width: 100%;
    }

    .flex-hjem > div > h3 {
        margin-top: 0;
    }

    .flex-hjem {
        margin-bottom: 200px;
    }
}

/* 425px (Less than MOBILE) */
@media only screen and (max-width: 425px) {
    .flex-bærekraft {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    .img-bærekraft {
        width: 100%;
    }
}

/* 768px (More than TABLET) */
@media only screen and (min-width: 767px) {
    .flex-hjem :nth-child(1) {
        width: 80%;
    }
}